In [2]:
import pandas as pd

In [ ]:
# Load the data

In [8]:
train = pd.read_csv("./data/train.csv")
train['timestamp'] = pd.to_datetime(train['timestamp'])
train

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1970-01-01 00:00:01.514764860,2,40.0,2376.580000,2399.500000,2357.140000,2374.590000,1.923301e+01,2373.116392,-0.004218
1,1970-01-01 00:00:01.514764860,0,5.0,8.530000,8.530000,8.530000,8.530000,7.838000e+01,8.530000,-0.014399
2,1970-01-01 00:00:01.514764860,1,229.0,13835.194000,14013.800000,13666.110000,13850.176000,3.155006e+01,13827.062093,-0.014643
3,1970-01-01 00:00:01.514764860,5,32.0,7.659600,7.659600,7.656700,7.657600,6.626713e+03,7.657713,-0.013922
4,1970-01-01 00:00:01.514764860,7,5.0,25.920000,25.920000,25.874000,25.877000,1.210873e+02,25.891363,-0.008264
...,...,...,...,...,...,...,...,...,...,...
24236801,1970-01-01 00:00:01.632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN
24236802,1970-01-01 00:00:01.632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN
24236803,1970-01-01 00:00:01.632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN
24236804,1970-01-01 00:00:01.632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN
24236805,1970-01-01 00:00:01.632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN

0          1970-01-01 00:00:01.514764860
1          1970-01-01 00:00:01.514764860
2          1970-01-01 00:00:01.514764860
3          1970-01-01 00:00:01.514764860
4          1970-01-01 00:00:01.514764860
                        ...
24236801   1970-01-01 00:00:01.632182400
24236802   1970-01-01 00:00:01.632182400
24236803   1970-01-01 00:00:01.632182400
24236804   1970-01-01 00:00:01.632182400
24236805   1970-01-01 00:00:01.632182400
Name: timestamp, Length: 24236806, dtype: datetime64[ns]